@media screen and (min-width : 480px){
body{
  background-color: black;
  color:white;
}
a{
  color:white;
  text-decoration: none;
  margin: 2%;
  text-align: center;
  
}
#divb{
  text-align: center;
}
#div{
  text-align: center;
}
samp{
  top: 0px;
  right: 0px;
}
#fr{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 2%;}
  #img {
    text-align: center;
    margin: 0 auto;
  }
  h1{
    text-align: center;
  }
  h4{
    text-align: center;
  }
  button{
    color: white;
    background-color: transparent;
  }
  .project{
    width: 100px;
    height: 70px;
    border-radius: 10%;
  }
  #section{
    margin-top: 3%;
    text-align: center;
  }
  .divp{
    background-color: grey;
    height: 180px;
    width: 100px;
    border-radius: 15%;
    text-align: center;
    display:inline-block;
    margin: 5px;
  }
  #sect{
    margin-top: 3%;
    margin-left: 3%;
    width: 45%;
    text-align: left;
    overflow-y: scroll;
    height: 300px;
  }
  #cont{
    left: 0px;
    
    width: 44%;
  }
  aside{
    display: inline-block;
    margin-left: 6%;
  }
}


@media screen and (min-width : 780px){
body{
  background-color: black;
  color:white;
}
a{
  color:white;
  text-decoration: none;
  margin: 2%;
  text-align: center;
  
}
#divb{
  text-align: center;
}
#div{
  text-align: center;
}
samp{
  top: 0px;
  right: 0px;
}
#fr{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 2%;}
  #img {
    text-align: center;
    margin: 0 auto;
  }
  h1{
    text-align: center;
  }
  h4{
    text-align: center;
  }
  button{
    color: white;
    background-color: transparent;
  }
  .project{
    width: 180px;
    height: 70px;
    border-radius: 10%;
  }
  #section{
    margin-top: 3%;
    text-align: center;
  }
  .divp{
    background-color: grey;
    height: 230px;
    width: 180px;
    border-radius: 15%;
    text-align: center;
    display:inline-block;
    margin: 5px;
    font-size: 20px;
  }
  #sect{
    margin-top: 3%;
    margin-left: 3%;
    width: 45%;
    text-align: left;
    overflow-y: scroll;
    height: 300px;
  }
  #cont{
    left: 0px;
    
    width: 44%;
  }
  aside{
    display: inline-block;
    margin-left: 6%;
  }
}



body{
  background-color: black;
  color:white;
}
a{
  color:white;
  text-decoration: none;
  margin: 2%;
  text-align: center;
  
}
#divb{
  text-align: center;
}
#div{
  text-align: center;
}
samp{
  top: 0px;
  right: 0px;
}
#fr{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 2%;}
  #img {
    text-align: center;
    margin: 0 auto;
  }
  h1{
    text-align: center;
  }
  h4{
    text-align: center;
  }
  button{
    color: white;
    background-color: transparent;
  }
  .project{
    width: 100px;
    height: 70px;
    border-radius: 10%;
  }
  #section{
    margin-top: 3%;
    text-align: center;
  }
  .divp{
    background-color: grey;
    height: 180px;
    width: 100px;
    border-radius: 15%;
    text-align: center;
    display:inline-block;
    margin: 5px;
  }
  #sect{
    margin-top: 3%;
    margin-left: 3%;
    width: 45%;
    text-align: left;
    overflow-y: scroll;
    height: 300px;
  }
  #cont{
    left: 0px;
    
    width: 44%;
  }
  aside{
    display: inline-block;
    margin-left: 6%;
  }


@media screen and (min-width : 1024px){
body{
  background-color: black;
  color:white;
}
a{
  color:white;
  text-decoration: none;
  margin: 2%;
  text-align: center;
  
}
#divb{
  text-align: center;
}
#div{
  text-align: center;
}
samp{
  top: 0px;
  right: 0px;
}
#fr{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 2%;}
  #img {
    text-align: center;
    margin: 0 auto;
  }
  h1{
    text-align: center;
  }
  h4{
    text-align: center;
  }
  button{
    color: white;
    background-color: transparent;
  }
  .project{
    width: 250px;
    height: 70px;
    border-radius: 10%;
  }
  #section{
    margin-top: 3%;
    text-align: center;
  }
  .divp{
    background-color: grey;
    height: 210px;
    width: 250px;
    border-radius: 15%;
    text-align: center;
    display:inline-block;
    margin: 5px;
  }
  #sect{
    margin-top: 3%;
    margin-left: 3%;
    width: 45%;
    text-align: left;
    overflow-y: scroll;
    height: 300px;
  }
  #cont{
    left: 0px;
    
    width: 44%;
  }
  aside{
    display: inline-block;
    margin-left: 6%;
  }
}